@charset 'utf-8';

#contact {

    padding-top: 100px;
    .inner {
        width:1180px;
        margin:0 auto;

        h2 {
            color:#222;
            font-size: 28px;
            font-weight: 200;
            margin-bottom: 20px;
            span {
                font-size: 60px;
                font-weight: 700;
            }
        }
    
        >p {
            font-size: 14px;
            color:#555;
            font-weight: 100;
            margin-bottom: 50px;
        }
    
        form {
            border:none;
    
            fieldset {
                border:none;
    
                legend {
                    display: none;
                }
    
                table {
                    width:100%;
                    margin-bottom: 20px;
                     
                    caption {
                        display: none;
                    }
                    &::after {
                        content: '';
                        display: block;
                        clear:both;
                    }
    
                    tr {
                        width:50%;
                        display: inline-block;
                        margin-bottom: 30px;
                        
                        th {
                            box-sizing: border-box;
                            font-size: 15px;
                            font-weight: 100;
                            display: inline-block;
                            margin-bottom: 10px;
    
                            .must {
                                position: relative;
    
                                &::after {
                                    content: '';
                                    display: block;
                                    width:6px;
                                    height:6px;
                                    background:cornflowerblue;
                                    position: absolute;
                                    top:0;
                                    right:-15px;
                                    border-radius: 6px;
        
                                }
                            }
    
                        }
                        td {
                            display: block;

                            input[type=text], input[type=password] {
                                background:#efefef;
                                border:none;
                                width:500px;
                                height:50px;
                                padding:20px;
                                border-radius: 3px;
                            }

                            select {
                                background:#efefef;
                                border:none;
                                width:200px;
                                height:50px;
                                padding:10px;
                                border-radius: 3px;
                            }
    
                            input[type=text].error,
                            input[type=password].error,
                            select.error, textarea.error {
                                background: #da1e1e1b;
                                border: 1px solid #da1e1e;
                                color:#da1e1e;
                            }

                            p {
                                color:red;
                                font-size: 12px;
                                opacity: 0;
                            }
                        }
    
                        &.num {
                                    select  {
                                        width:200px;
                                        margin-right: 10px;
                                    }
    
                                    input[type=text]  {
                                        width:290px;
                                    }
                                
                        }
    
                        &.eMail {

                                input[type=text]  {
                                    width:270px;
                                }
                                select  {
                                    width:200px;
    
                                }
                        }

                        &.title {
                            width:100%;
                            display: block;

                            input[type=text]  {
                                width:1080px;

                            }
                            textarea {
                                width:1080px;
                                border:none;
                                background:#efefef;
                                padding:20px;
                                resize: none;
                            }

                        }
    
                    }
    
                }
    
                .sbt {
                    text-align: center;
    
                    input[type=submit] {
                        background:cornflowerblue;
                        color:#fff;
                        border:none;
                        width:200px;
                        height:50px;
                        padding:10px;
                        border-radius: 3px;
                        text-align: center;
                    }
                }
    
            }
    
    
        }
    

    }

    


}

#map {
    padding:100px 0 300px 0;
    h2 {
        width:1180px;
        margin: 0 auto;
        margin-bottom: 90px;
        font-size: 30px;
        color: #333;
        font-weight: 500;
        
    }

    .inner {
        width:1180px;
        margin:0 auto;
         position: relative; 


         &::before {
            content: 'HANSOL';
            display: inline-block;
            position: absolute;
            top:90%;
            left:30%;
            z-index: 10000;
            font: 700 300px/1 'Poppins';
            color: rgba(34, 34, 34, 0.05);
        }


         &::after {
            content: '';
            width:100%;
            height:50%;
            background:rgb(247, 247, 247);
            position: absolute;
            top:-50px;
            right:56%;
            z-index: -1;
        }
        
        #mapBox{
            width:1180px; 
            height:500px; 
            background:#000; 
            transform: translate(290px, 100px);
            position: relative; 

        }
    
       
        
        .branch {
            position: absolute;
            width:400px;
            top:0;
            left:50px;
            background:#fff;
            box-shadow: 5px 5px 20px #41414117;
            z-index:2;
    
            > li{
                width:100%;
                position: relative;    
                border-bottom: 1px solid rgba(240, 240, 240, 0.867);

    
                &:last-child {
                    border-bottom: none;
                }

                a {
                    width:100%;
                    color:#333;
                    display: block;
                    padding:20px;
                    box-sizing: border-box;

                    &::after {
                        content:'';
                        display: block;
                        clear:both;
                    }

                    .comName {
                        font-size:18px;
                        float:left;
                        width: 35%;
                        transition: 0.5s;
                        font-weight: 200;

                        span {
                            display: inline-block;
                            padding:3px;
                            position: relative;

                            &::after {
                                width:5px;
                                height:5px;
                                content: '';
                                display: block;
                                background:cornflowerblue;
                                position: absolute;
                                top: 0;
                                right:-30px;
                                border-radius: 5px;
                                opacity: 0;
                                transition: 0.5s;

                            }
                        }

                        

                    }

                        .list {
                            text-align: left;
                            float:left;
                            width:65%;
                            display: block;

                            p {
                                width:100%;
                                font-size: 13px;
                                margin-bottom: 3px;
                                color: #555;
                                font-weight: 200;

                                img {
                                    width:25px;
                                    margin-right: 10px;
                                   vertical-align: middle;
    
                                }

                            }
                            
                            
                        }

                   
                }

                &.on {
                    .comName {
                        position: relative;
                        color: cornflowerblue;
                        font-weight: 600;

                        span {
                            &::after {
                                right:-15px;
                                opacity: 1;
                            }
                        }
                    }
                    .list {
                        p {

                            font-weight: 400;
                            color:cornflowerblue;
                        }
                        
                    }
                }

                &:hover {
                    .comName {
                        position: relative;
                        color: cornflowerblue;
                        font-weight: 600;
                        

                        span {
                            &::after {
                                top: 0;
                                right:-15px;
                                opacity: 1;
                            }

                        }

                     
                    }
                    
                }

            }
        }

    }
    

}
