@charset 'utf-8';


#step {
    margin-bottom: 100px;
    margin-top: -111px;
    .inner {
        width:1180px;
        margin:0 auto;
        height:60px;
        font-size: 0;
        background:#eee;
        border-radius: 5px;
        overflow: hidden;
        
        span {
            font-size: 14px;
            display: inline-block;
            width:50%;
            height:100%;
            color:#999;
            line-height: 60px;
            box-sizing: border-box;
            text-align: center;
            
            b {
                margin-right: 10px;
            }
            
            img {
                width:20px;
                vertical-align: middle;
                 margin-right:10px;
            }


            &.on {
                clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 0 51%, 0% 0%);
                background:cornflowerblue;
                color:#fff;
                font-weight: 500;
            }

        }
    }
}


#checkedBox {
    width:1180px;
    margin:0 auto 100px auto;


    h2 {
        color:#222;
        font-size: 26px;
        font-weight: 600;
    }

    h3 {
        font-size: 18px;
        color:#333;
        font-weight: 300;
        margin-bottom: 30px;
    }

    p {
        font-size: 14px;
        color:#555;
        font-weight: 100;
        margin-bottom: 50px;
    }

    form {
        border:none;

        fieldset {
            border:none;
            legend {
                display: none;
            }

            textarea {
                background:#eee;
                border:none;
                width:100%;
                padding:30px;
                box-sizing: border-box;
                font-size: 13px;
                color:#555;
            }

            label{
                text-align: right;
                display: block;
                font-size: 17px;
                margin-bottom: 50px;
                font-size: 14px;
                font-weight:300;

                input[id=terms1] {
                    margin-right: 5px;
                    vertical-align: auto;
                    
                }
                

            }


        }





    }


}


#checkedBox2 {
    width:1180px;
    margin:0 auto;
    border-top: 1px solid rgb(215, 215, 215);
    padding-top: 60px;

    h2 {
        color:#222;
        font-size: 26px;
        font-weight: 600;
    }

    h3 {
        font-size: 18px;
        color:#333;
        font-weight: 300;
        margin-bottom: 30px;
    }

    p {
        font-size: 14px;
        color:#555;
        font-weight: 100;
        margin-bottom: 30px;
    }

    form {
        border:none;

        fieldset {
            border:none;

            legend {
                display: none;
            }

            table {
                width:100%;
                margin-bottom: 80px;
                caption {
                    display: none;
                }

                tr {
                    width:100%;
                    vertical-align: baseline;
                    
                    th {
                        width:20%;
                        padding:10px;
                        box-sizing: border-box;
                        font-size: 15px;
                        font-weight: 100;
                        text-align: left;

                        .must {
                            position: relative;

                            &::after {
                                content: '';
                                display: block;
                                width:6px;
                                height:6px;
                                background:cornflowerblue;
                                position: absolute;
                                top:0;
                                right:-15px;
                                border-radius: 6px;
    

                            }
                        }

                    }
                    td {
                        width:100%;

                        input[type=text], input[type=password] {
                            background:#efefef;
                            border:none;
                            width:500px;
                            height:50px;
                            padding:20px;
                            border-radius: 3px;
                            margin-right: 10px;
                        }
                        select {
                            background:#efefef;
                            border:none;
                            width:200px;
                            height:50px;
                            padding:10px;
                            border-radius: 3px;
                            margin-right: 10px;

                        }

                        button {
                            background:cornflowerblue;
                            color:#fff;
                            border:none;
                            width:200px;
                            height:50px;
                            padding:10px;
                            border-radius: 3px;
                            
                        }


                        input[type=text].error,
                        input[type=password].error,
                        select.error {
                            background: #da1e1e1b;
                            border: 1px solid #da1e1e;
                        }

                        p {
                            color: red;
                            font-size: 12px;
                            font-weight: 400;
                            opacity: 0;
                            
                        }
                    }

                    &.phone {
                        
                        td {
                            display: block;
                            margin-bottom: -30px;
                            > input[type=text],select  {
                                width:24%;
                                margin-right: 10px;

                            }
                            &:nth-of-type(2){
                                input[type=text], select {
                                    background:#efefef;
                                    border:none;
                                    width:50%;
                                    height:50px;
                                    padding:10px;
                                    border-radius: 3px;
                                    margin-right: 10px;
                                }
                            }

                        }

                       
                    }

                    &.adress {
                        
                        td {
                            display: block;
                            margin-bottom: 10px;

                            > input[type=text],select  {
                                width:60%;
                            }

                            &:nth-of-type(2){
                                input[type=text], select {
                                    width:60%;
                                }
                            }

                        }

                    }

           
                    &.email {

                        td {

                            > input[type=text],select  {
                                width:31.5%;
                            }

                            &:nth-of-type(2){
                                input[type=text], select {
                                    width:10%;
                                }
                            }

                        }

                    }
                }

            }

            .sbt {
                text-align: center;
                margin-bottom: 70px;

                input[type=reset], input[type=submit] {
                    background:cornflowerblue;
                    color:#fff;
                    border:none;
                    width:250px;
                    height:60px;
                    padding:10px;
                    border-radius: 3px;
                    text-align: center;
                }
                input[type=reset] {
                    background:rgb(238, 238, 238);
                    color:rgb(125, 125, 125);

                }

            }



        }


    }



}