@charset 'utf-8';

/* 조직도 */ 
#organization {
    margin-bottom: 150px;

    .inner {
        width:1180px;
        margin:0 auto;

        .first{
            width: 100%;
            display: block;
            text-align: center;

            >li {
                margin-bottom: 50px;
                width: 100%;
                
                .owner {
                    background:cornflowerblue;
                    border:none;
                    color:#fff;
                    font-size: 20px;
                    font-weight: 600;
                    margin:0 auto;
                    width:250px;
                    height:70px;
                    line-height: 70px;
                    margin-bottom: 100px;
                    position: relative;

                    &::before {
                        content:'';
                        display: block;
                        width:978px;
                        height:1px;
                        position: absolute;
                        bottom:-50%;
                        left:50%;
                        transform:translateX(-50%);
                        background:rgb(188, 204, 235);
                    }

                }
                
                .second {
                    &::after {
                        content:'';
                        display: block;
                        clear:both;
                    }

                    >li {
                       float:left;
                       text-align: center;

                        div {
                            width:200px;
                            background:#fff;
                            border-bottom:1px solid rgb(188, 204, 235);
                            font-weight: 100;
                            color:#333;
                            text-align: center;
                            padding-bottom: 10px;
                            position: relative;

                            h3 {
                                width:100%;
                                text-align: center;
                                background:rgb(228, 234, 244);
                                height:50px;
                                display: block;
                                line-height: 50px;
                                border-top: 1px solid rgb(188, 204, 235);
                                border-bottom:1px solid rgb(188, 204, 235);
                                color:#555;
                                font-size: 18px;
                                font-weight: 500;
                                margin-bottom: 10px;
                                }

                                &::after {
                                    content:'';
                                    display: block;
                                    width:1px;
                                    height:66px;
                                    position: absolute;
                                    bottom:100%;
                                    left:50%;
                                    transform:translateX(-50%);
                                    background:rgb(188, 204, 235);
                                }

            
                                
                            
                        }

                    }

                    .seconCenter {
                        margin: 0 50px;

                        > div {
                            margin: 0 auto;
                            text-align: center;
                            position: relative;


                            &::before {
                                content:'';
                                display: block;
                                width:452px;
                                height:1px;
                                position: absolute;
                                bottom:-27px;
                                left:50%;
                                transform:translateX(-50%);
                                background:rgb(188, 204, 235);
                            }


                            &::after {
                                content:'';
                                display: block;
                                width:1px;
                                height:100px;
                                position: absolute;
                                bottom:100%;
                                left:50%;
                                transform:translateX(-50%);
                                background:rgb(188, 204, 235);
                            }
                        
                        
                        }
                        .third {

                            &::after {
                                content:'';
                                display: block;
                                clear:both;
                            }

                            li {
                                margin: 50px 13px 0;
                                float:left;

                                div {

                                    &::after {
                                        height:25px;
                                    }
                                }

                                &:nth-of-type(2) {
                                    div {

                                        &::after {
                                            height:50px;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    
                    


                }
                
             
    
        } 
        }
        
    
    }



}

#comInfo {
    margin-bottom: 150px;
    >.inner {
        padding-top: 50px;
        width:1180px;
        margin: 0 auto;

        >p {
            font-size: 13px;
            font-weight: 100;
        }
        >h2 {
            font-size: 30px;
            margin-bottom: 20px;
        }
        >h3 {
            font-size: 18px;
            font-weight: 100;
            margin-bottom: 60px;
            
        }

        article {
            box-sizing: border-box;
            height: 2000px;

            .box {
                width:calc(100%/4);
                box-sizing: border-box;
                display: block;
                height: 220px;

                .inner {
                    width:100%;
                    padding:0 20px;

                    .caption {
                        border-bottom: 2px solid #333;
                        padding: 5px 0;
                        margin-bottom: 10px;
                        font-size: 12px;
                        color:#888;
                    }
                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    >div {
                        padding:14px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        img {
                            width:100%;
                        }
                    }
                }
                
                &:nth-of-type(2) { height:360px;}
                &:nth-of-type(3) { height:150px;}
                &:nth-of-type(4) {height:500px;}
                &:nth-of-type(5) {height:200px;}
                &:nth-of-type(6) {height:340px;}
                &:nth-of-type(7) { height:200px;}
                &:nth-of-type(8) {height:450px; }
                &:nth-of-type(9) {height:310px; }
                &:nth-of-type(10) {height:260px; }
                &:nth-of-type(11) {height:250px;}
                

                &:hover {
                    background:#eee;
                }
            }
        }

    }
}

#footer2 {
    width: 100%;
    background:#333;
    color:#888;
    padding:40px 0;

    .upper {
        border-bottom:1px solid #555;
        .inner {
            width: 1180px;
            margin:0 auto 30px auto;
            position: relative;
            h1 a{
                color:#888;
            }

            select {
                background: transparent;
                background:#444;
                color:#888;
                border: none;
                padding:10px 100px 10px 10px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 14px;
            }
        }
    }

    .lower {
        margin-top: 30px;

        .inner {
            width:1180px;
            margin:0 auto;
            position: relative;

            address {
                font-style: unset;
                font-size: 14px;
                margin-bottom: 10px;
                line-height: 1.3;
                color:#999;
                font-weight: 100;
                p {
                    margin-bottom: 5px;

                    &:last-of-type {
                        margin-bottom: 30px;
                    }
                }
                

            }

            #footmenu {
                a {
                    color:#aaa;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 1.2;
                    margin-right:20px;
                }
            }

            .callCenter {
                position: absolute;
                top: 0;
                right: 0;
                text-align: right;
                color:rgb(187, 187, 187);
                font-size:13px;
                letter-spacing: 1.5px;
                font-weight: 100;

                .call {
                    font-weight: 600;
                    font-size:25px;
                    line-height: 1;
                    color:#999;
                    margin-top: 10px;
                }
                
            }
        }
    }
}

