@charset 'utf-8';

/* 조직도 */ 
#organization {

    .inner {
        width:1180px;
        margin:0 auto;

        .first{
            width: 100%;
            display: block;
            background:blue;
            text-align: center;


            &::after {
                content:'';
                display: block;
                clear:both;
            }
            

            >li {
                margin-bottom: 50px;
                width: 23%;
                display: inline-block;

                .owner {
                    background:#222;
                    border:none;
                    color:#fff;
                    font-size: 20px;
                    font-weight: 600;
                    margin:0 auto;
                    width:100%;
                    display: block;
                    height:50px;
                    line-height: 50px;
                    
                }
                
                .second {

                    background:gold;
                }
                
                h3 {
                    background:#ddd;
                    height:50px;
                    display: block;
                    text-align: center;
                    line-height: 50px;
                    border-top: 3px solid #333;
                    border-bottom:1px solid #bbb;
                    color:#333;
                    width:100%;
                }

                div {
                    width:100%;
                    background:#fff;
                    border-bottom:1px solid #bbb;
                }
                
    
        } 
        }
        
    
    }



}

#footer2 {
    width: 100%;
    background:#333;
    color:#888;
    padding:40px 0;

    .upper {
        border-bottom:1px solid #555;
        .inner {
            width: 1180px;
            margin:0 auto 30px auto;
            position: relative;
            h1 a{
                color:#888;
            }

            select {
                background: transparent;
                background:#444;
                color:#888;
                border: none;
                padding:10px 100px 10px 10px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 14px;
            }
        }
    }

    .lower {
        margin-top: 30px;
        .inner {
            width:1180px;
            margin:0 auto;
            position: relative;
            address {
                font-style: unset;
                font-size: 14px;
                margin-bottom: 10px;
                line-height: 1.3;
                color:#999;
                font-weight: 100;
                p {
                    margin-bottom: 5px;

                    &:last-of-type {
                        margin-bottom: 30px;
                    }
                }
                

            }

            #footmenu {
                a {
                    color:#aaa;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 1.2;
                    margin-right:20px;
                }
            }

            .callCenter {
                position: absolute;
                top: 0;
                right: 0;
                text-align: right;
                color:rgb(187, 187, 187);
                font-size:13px;
                letter-spacing: 1.5px;
                font-weight: 100;

                .call {
                    font-weight: 600;
                    font-size:25px;
                    line-height: 1;
                    color:#999;
                    margin-top: 10px;
                }
                
            }
        }
    }
}



@media screen and (max-width:1179px) {
    
    #header2 {
        padding : 0 20px;
        box-sizing: border-box;

        #topMenu {
            padding:8px 0;

            .inner {
                width:100%;
                height:30px;

                .snsMenu {

                }

                .login {


                }
            }

        }

        .mainMenu {
            width:100%;
            height:80px;

            h1 {
                a {
                    color:#111;
                    font-size: 30px;
                    display: block;
                }
            }

            .menuWeb {

                .gnb {
                    display: none;

                }
            }

            .icons {
               display: none;
            }

            .btnCall {
                display:block;
            
            }
        }

    }

    /* 서브페이지 타이틀 */

    #sub_title {
        padding:70px 20px 110px 20px;

        .inner {
            width:100%;

            h1 {
                font-size: 30px;
                }

            .sub_menu {

                a {
                    display: inline-block;
                    color:#555;
                    vertical-align: middle;
                    padding: 0 5px;
                    margin-bottom: 20px;

                    img {
                        width: 16px;
                    }

                }
            }
        }
    }

   
    #footer2 {
        width: 100%;
        padding:40px 0;

        .upper {

            .inner {
                width: 100%;
                margin:0 20px 30px 20px;
                position: relative;

                select {
                    background: transparent;
                    border: 1px solid #888;
                    color:#888;
                    padding:5px 100px 5px 10px;
                    position: absolute;
                    top: 10px;
                    right: 40px;
                }
            }
        }

        .lower {
            margin-top: 30px;

            .inner {
                width:100%;
                margin:0 auto;
                position: relative;
                address {
                    width: 100%;
                    font-style: unset;
                    font-size: 14px;
                    margin-bottom: 10px;
                    line-height: 1.5;
                    text-align: center;
                }

                #footmenu {
                    text-align: center;
                    margin-bottom: 20px;
                    a {
                        font-size: 13px;
                        line-height: 1.2;
                        margin-right:20px;
                    }
                }

                .callCenter {
                    position: relative;
                    text-align: center;
                    font-size:13px;
                    letter-spacing: 1.5px;

                    .call {
                        font-weight: 600;
                        font-size:25px;
                        line-height: 1;
                        color:#999;
                        margin-top: 5px;
                    }
                    
                }
            }
        }
    }



}


@media screen and (max-width:539px) {
    
    #header2 {

        #topMenu {
            display: none;

        }

        .mainMenu {
            margin-top: 10px;
            height: 60px;

            h1 {
                a {
                    font-size: 28px;
                }
            }

        }

    }

    /* 서브페이지 타이틀 */

    #sub_title {
        padding:30px 20px 60px 20px;

        .inner {
            width:100%;

            h1 {
                font-size: 20px;
                }

            .sub_menu {

                a {
                    font-size: 12px;

                    img {
                        width: 12px;
                    }
                    &:nth-child(3) {
                        font-size: 12px;
                        img {
                            width: 8px;
                        }
                    }

                }
            }
        }
    }

    #footer2 {
        width: 100%;
        padding:30px 0;
    
        .upper {
            .inner {
                width: 100%;
                margin:0;
                margin-bottom: 20px;
                position: relative;
    
                h1 a{
                    color:#888;
                    display: block;
                    text-align: center;
                }
    
                select {
                    display: none;
                }
            }
        }
    
        .lower {
            margin-top: 30px;
            .inner {
    
                #footmenu {
                    display: none;
                }
    
                .callCenter {
                    position: relative;
                    text-align: center;
                    color:rgb(187, 187, 187);
                    font-size:13px;
                    letter-spacing: 1.5px;
                    
    
                    .call {
                        font-weight: 600;
                        font-size:25px;
                        line-height: 1;
                        color:#999;
                        margin-top: 5px;
                    }
                    
                }
            }
        }
    }
    


}
