// @charset 'utf-8';
@import 'community'; 
@import 'sub_layout';
@import 'join';
@import 'youtube';
@import 'location';
@import 'contact';
@import 'gallery';


/* reset */
* {
    margin:0px; padding:0px; box-sizing:border-box;
    font-family:'Poppins', 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}
ul,ol,li {list-style:none;}
a {text-decoration:none;}


/* tab 이동 */ 
#skipNavi li a{
    display:block; 
    width:100%; 
    height:40px; 
    background:rgb(75, 142, 213); 
    font:bold 15px/40px 'arial'; 
    color:#fff; 
    text-align:center; 
    position:fixed; 
    top:-40px; left:0; 
    z-index: 200;

    &.on {
        top:0; 
    }
}

/* 헤더 */
#header2 {
    width:100%;
    border-bottom:1px solid #efefef;
    position: relative;
    padding-top: 50px;
    z-index: 100;


    /* 배경 및 배너*/ 
    .bgGnb {
        .banner {
            box-sizing: border-box;
            background:#fff;
            overflow: hidden;
            text-align: right;
            
            h2 {
                font-size: 23px;
                font-weight: 400;
                margin-right: 30px;
                margin-top: 30px;
            }
    
            P {
                font-size: 12px;
                font-weight: 100;
                margin-right: 30px;
            }

                span {
                    display: inline-block;
                    background:rgb(247, 247, 247);
                    padding:4px;
                    margin-right: 5px;
                    font-size: 12px;
                    font-weight: 400;
                    color: rgb(42, 96, 191);
                    margin-top: 20px;
                    margin-bottom: 20px;
                    
                    &:nth-of-type(3) {
                        margin-right: 30px;
                    }
    
                }

            .menuImg {
                width:100%;
                margin-left: 0px;
                height:50%;

                img {
                    width: 100%;
                  display: block;
                  height: 100%;


                }

            }
    


        }

    }

    .inner {
        width:1180px;
        height:100px;
        margin:0 auto;
        position: relative;

            h1 {
                position: absolute;
                top:50%;
                margin-top: -25px;


                a {
                    color:#111;
                    font-size: 30px;
                    display: block;
                    img {
                        height:25px;
                    }
                }
            }
    
            .gnb {
                    text-align: center;
                    box-sizing: border-box;
                    font-size: 0;
                    
                    // position: absolute;
                    // top: 0;
                    // left:50%;
                    // transform:translateX(-50%) ;

                    &::after {
                        content: '';
                        display: block;
                        clear:both;
                    }
                    
                    >li {
                        width:130px;
                        transition: 0.5s;
                        display: inline-block;
                        position: relative;
                        z-index: 2;

                        >a {
                            display: block;
                            color:#333;
                            font-size: 16px;
                            width: 100%;
                            height:100px;
                            text-align: center;
                            line-height: 100px;
                            font-weight: 600;
                            
                            &.on {
                                    color:rgb(64, 134, 255);
                                    transition: 0.5s;
    
                        }

                        }

                        >.subGnb {
                            position: absolute;
                            left: 0;
                            display: none;
                            font-weight: 300;
                            text-align: center;
                            width: 100%;
                            padding:30px 0;
                            box-sizing: border-box;
                            

                            >li {
                                position: relative;
                                width:100%;

                                >a { 
                                    text-align: center;
                                    font-size: 15px;
                                    color: #555;
                                    position: relative;
                                    transition: 0.5s;
                                    font-weight: 400;
                                    padding:5px;
                                    box-sizing: border-box;
    
                                    &::before {
                                        content:'';
                                        display: block;
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 5px;
                                        background: rgb(86, 141, 237);
                                        position: absolute;
                                        right:-10px;
                                        top:-3px;
                                        transition: 0.5s;
                                        opacity: 0;
                                        border:1px solid green;
                                    }
                                }

                                &:hover {

                                     a{
                                        color: rgb(86, 141, 237);
                                        font-weight: 600;
                                     }
                                     &::before {
                                        right:-5px;
                                        opacity: 1;
                                     }
                                }
                            }
    
                        }

                    }
                }

            .icons {
                position: absolute;
                top:50%;
                right: 0;
                transform:translateY(-50%) ;
                a {
                    margin-left: 10px;
                    background-color: #eee;
                    width: 35px;
                    height:35px;
                    display: inline-block;
                    border-radius: 35px;
                    text-align: center;
                    line-height: 35px;
                    color:#777;
    
                }
            }
    
            .btnCall {
                display:none;
                width: 26px;
                height: 18px;
                position: absolute;
                right:0;
                top: 50%;
                box-sizing: border-box;
                margin-right: 0;
                transform: translateY(-50%);
    
    
                &::before {
                    content:'';
                    display:block;
                    width:100%;
                    height:2px;
                    background:#555;
                    position: absolute;
                    top: 0;
                    left:0;
                    
                    
                }
    
                span {
                    display:block;
                    width:100%;
                    height:2px;
                    background:#555;
                    position: absolute;
                    top: 50%;
                    left:0;
                    transform: translateY(-50%);
    
                }
                
                &::after {
                    content:'';
                    display:block;
                    width:100%;
                    height:2px;
                    background:#555;
                    position: absolute;
                    bottom: 0;
                    left:0;
    
                }
            
            }
    
            .menuMo {
                position: fixed;
                top:0;
                right:-100%;
                width:50%;
                min-width: 300px;
                height:100%;
                background:#fff;
                z-index: 10;
                transition: all 0.5s;
                box-sizing:border-box;
                box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.413);

                .close {
                    position: absolute;
                    right:10px;
                    top:20px;
                }

                .mIcons {
                    width:100%;
                    height:150px;
                    padding:45px 25px;
                    box-sizing: border-box;

                    .mJoin {
                        font-size: 18px;
                        font-weight: 100;
  
                        a {
                            background-color: #fff;
                            width: 50px;
                            height:50px;
                            display: inline-block;
                            border-radius: 50px;
                            line-height:50px;
                            color:rgb(165, 165, 165);
                            margin-right: 10px;
                            background: rgb(225, 225, 225);
                            text-align: center;
                            font-size: 25px;

                        }

                    }

                    
                }

                .line {
                    font-size: 11px;
                    font-weight: 600;
                    padding: 0 25px;
                    box-sizing: border-box;

                    &::after {
                        content: '';
                        display: block;
                        width:100%;
                        height:2px;
                        background:#333;
                    }

                }
                
                #gnbMo {
                    margin-top: 20px;
                    padding:0 30px;
                    box-sizing: border-box;
                    margin-bottom: 60px;

                    li a {
                        display:block;
                        width:100%;
                        padding:35px 0;
                        font: bold 14px/1 'arial';
                        color:rgb(74, 74, 74);
                        font-size: 18px;

                      
                        i {
                            margin-right: 15px;
                            
                            color:#bbb;
                        }
                    }

                }
                
                .mCall {
                    padding:20px 30px;
                    width: 100%;
            
                        img {
                            width: 30px;
                        }
            
                        div {
            
                            h2 {
                                font-weight: 700;
                                font-size: 24px;
                                margin-bottom: 10px;
            
                                span {
                                    font-weight: 200;
                                   font-size: 20px;
                                }
                            }
                        }
            
                        div {
                            h3 {
                                font-size: 14px;
                                font-weight: 100;
                            }
                            margin-bottom: 10px;

                        }
                        button {
                            margin: 0 auto;
                            width:150px;
                            height: 40px;
                            border: none;
                            background: cornflowerblue;
                            border-radius: 5px;
                            color:#fff;
                        }
            
            
            
                }
              
               

                &.on {
                    right:0;
                }


            }

            .snsMenu {
                    position: absolute;
                    top:-40px;
                    left:0;
    
                    li {
                        display: inline-block;
                        margin-right:10px;
                        background:#eee;
                        border-radius: 50%;
                        width:26px;
                        height:26px;
                        text-align: center;
    
                        &:last-child {
                            margin-right:0;
                        }
    
                        a {
                            color:#777;
                            line-height: 26px;
                            font-size: 13px;
                            
                        }
                    }
            }
    
            .login {
                    position: absolute;
                    top:-40px;
                    right:0;
                    font-size: 0;
                    li {
                        display: inline-block;
                        position: relative;
                        background:#eee;
                        border-radius: 35px;
    
                        a {
                            display:block;
                            font-size:11px;
                            color:#777;
                            font-weight: 300;
                            padding:4px 13px;
                            box-sizing: border-box;
    
                            img {
                                width:20px;
                                vertical-align: middle;
                            }
                        }
                        &:nth-child(1) {
                            border-radius: 35px 0 0 35px;
    
                        } 
                        &:nth-child(2) {
                            background-color: rgb(97, 97, 97);
                            margin-right: 10px;
                            border-radius: 0 35px 35px 0;
                            
                            a {
                                color: rgb(242, 242, 242);
                            }
                        }
                    }
            }
          
        
    

    }


}


/* 배너 */ 
figure {
    width:100%;
    height:100vh;
    overflow:hidden;
    position:relative;

    >section {
        width:100%;
        height:100%;
        position:absolute;
        top:0px;
        left:0px;
        transition: 1.5s;

        &.on1 {left:0%;top:0%;}
        &.on2 {left:-100%;top:0%;}
        &.on3 {left:-200%;top:0%;}
        &.on4 {left:-200%;top:-100%;}
        &.on5 {left:-200%;top:-200%;}
        &.on6 {left:-100%;top:-200%;}
        &.on7 {left:-100%;top:-100%;}
        &.on8 {left:0%;top:-100%;}

        >article {
            width:100%;
            height:100%;
            position:absolute;
            overflow:hidden;
            box-sizing: border-box;

            >p {
                font:300 1.1vw/1 'Poppins', 'Spoqa Han Sans';
                position:absolute;
                top:17vh;
                left:16.5vw;
            }

            h2 {
                font: bold 6vw/1 'Poppins', 'Spoqa Han Sans';
                position:absolute;
                top:21vh;
                left:16vw;
                z-index:2;
                transition:0.5s 0.5s;
                color:rgb(75, 75, 75);
            }

            .pic {
                width:68vw;
                height:85vh;
                position: absolute;
                top:0;
                right:0;
                transition: 0.5s 0.7s;
            }

            .thumb {
                width:25vw;
                height:20vh;
                position: absolute;
                bottom: 42vh;
                left:16vw;
                transition: 0.5s 0.9s;
                font: 100 0.9vw/1.7 'Poppins', 'Spoqa Han Sans';
                color:#777;
            }
            

            &:nth-of-type(1) {
                top:0; left:0;
                
                .pic{
                    overflow: hidden;
                    .inner{
                        width: 100%;
                        height:100%;
                        background:url(../img/main/bg1.jpg) no-repeat right/cover;
                        transition: 2s 0.5s;
                        transform:scale(1.2);

                    }

                } 
                
                &.off {
                    h2{transform:translateY(100%); opacity: 0;}
                    .pic {
                        transform:translateY(30%); opacity: 0;
                        .inner {
                            transform:scale(1);
                        }
                        
                    }
                    .thumb {transform:translateY(200%); opacity: 0;}


                }
            }
            &:nth-of-type(2) {
                top:0; left:100%;

                .pic {
                    background:url(../img/main/bg2.jpg) no-repeat right/cover;
                }

                &.off {
                    h2{transform:translateX(100%); opacity: 0;}
                    .pic {transform:translatX(30%); opacity: 0;}
                    .thumb {transform:translateX(200%); opacity: 0;}
                }
            }
            &:nth-of-type(3) {
                top:0; left:200%;

                .pic {
                    background:url(../img/main/bg3.jpg) no-repeat right/cover;
                }

                &.off {
                    h2{transform:translateX(100%); opacity: 0;}
                    .pic {transform:translateX(30%); opacity: 0;}
                    .thumb {transform:translateX(200%); opacity: 0;}
                }
            }
            &:nth-of-type(4) {
                top:100%; left:200%;

                .pic {
                    background:url(../img/main/bg4.jpg) no-repeat right/cover;
                }


                &.off {
                    h2{transform:translateY(100%); opacity: 0;}
                    .pic {transform:translateY(30%); opacity: 0;}
                    .thumb {transform:translateY(200%); opacity: 0;}
                }
            }
            &:nth-of-type(5) {
                top:200%; left:200%;

                .pic {
                    background:url(../img/main/bg5.jpg) no-repeat right/cover;
                }

                &.off {
                    h2{transform:translateX(-100%); opacity: 0;}
                    .pic {transform:translateX(-30%); opacity: 0;}
                    .thumb {transform:translateX(-200%); opacity: 0;}
                }
            }
            &:nth-of-type(6) {
                top:200%; left:100%;

                .pic {
                    background:url(../img/main/bg6.jpg) no-repeat right/cover;
                }

                &.off {
                    h2{transform:translateX(-100%); opacity: 0;}
                    .pic {transform:translateX(-30%); opacity: 0;}
                    .thumb {transform:translateX(-200%); opacity: 0;}
                }
                
            }
            &:nth-of-type(7) {
                top:100%; left:100%;

                .pic {
                    background:url(../img/main/bg7.jpg) no-repeat center/cover;
                }

                &.off {
                    h2{transform:translateY(-100%); opacity: 0;}
                    .pic {transform:translateY(-30%); opacity: 0;}
                    .thumb {transform:translateY(-200%); opacity: 0;}
                }
            }
            &:nth-of-type(8) {
                top:100%; left:0%;

                .pic {
                    background:url(../img/main/bg8.jpg) no-repeat right/cover;
                }

                &.off {
                    h2{transform:translateX(-100%); opacity: 0;}
                    .pic {transform:translateX(-30%); opacity: 0;}
                    .thumb {transform:translateX(-200%); opacity: 0;}
                }
            }
        }
    }

    nav {
        position: absolute;
        bottom:30vh;
        left:16vw;

        a {
            margin-right:20px;
            width:50px;
            height:50px;
            border:1px solid #888;
            display: inline-block;
            border-radius: 50px;
            transition: 0.5s;

            span {
                display: block;
                text-align: center;
                line-height: 50px;
                
                div {
                    display: inline-block;
                    width: 0px;
                    height: 0px;
                    border-top: 4px solid transparent;
                    border-right: 6px solid #888;
                    border-bottom: 4px solid transparent;
    
                }
            }

            .btnNext {

                div {
                    border-right: none;
                    border-left: 6px solid #888;
                }

            }

            &:hover {
                background:cornflowerblue;
                border:1px solid cornflowerblue;

                div {
                    border-right: 6px solid #fff;

                }
                .btnNext {

                    div {
                    border-right: none;
                        border-left: 6px solid #fff;
                    }
                }
            }
        }
    }

    .navi {
        position:absolute;
        bottom:25vh;
        right:10vw;
        display:flex;
        z-index:3;

        li {
            width:40px;
            height:3px;
            background:rgba(255, 255, 255, 0.694);
            vertical-align: baseline;
            transition: 0.5s;

            &.on {
                width:40px;
                height: 3px;
                background:cornflowerblue;
            }
        }
    }
    
}

#comes {
    margin-bottom: 220px;

    .inner {
        width:1180px;
        margin:0 auto;
        text-align:right;

        .wrap {

            &::after {
                content:'';
                display:block;
                clear:both;
            }

            >div {
                float:right;
                width:50%;
                margin-bottom: 4vw;
                &:first-child {
                    width: 30%;
                }

            }

            h1 {
                font-size: 2vw;
            }

        }


    }
    .pic {
        width: 1180px;
        height: 200px;
        overflow: hidden;
        display: inline-block;

        img {
            width: 100%;
        }

    }

    .pic2 {
        width: 280px;
        margin-left: 20px;

        img { height: 100%;}
    }


}








/* 풋터 */ 
#footer2 {
    width: 100%;
    background:#333;
    color:#888;
    padding:40px 0;
    z-index: 3;

    .upper {
        border-bottom:1px solid #555;
        .inner {
            width: 1180px;
            margin:0 auto 30px auto;
            position: relative;
            h1 a{
                color:#888;
            }

            select#family {
                background: transparent;
                background:#444;
                color:#888;
                border: none;
                padding:10px 100px 10px 10px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 14px;
            }
        }
    }

    .lower {
        margin-top: 30px;
        .inner {
            width:1180px;
            margin:0 auto;
            position: relative;
            address {
                font-style: unset;
                font-size: 14px;
                margin-bottom: 10px;
                line-height: 1.3;
                color:#999;
                font-weight: 100;
                p {
                    margin-bottom: 5px;

                    &:last-of-type {
                        margin-bottom: 30px;
                    }
                }
                

            }

            #footmenu {
                a {
                    color:#aaa;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 1.2;
                    margin-right:20px;
                }
            }

            .callCenter {
                position: absolute;
                top: 0;
                right: 0;
                text-align: right;
                color:rgb(187, 187, 187);
                font-size:13px;
                letter-spacing: 1.5px;
                font-weight: 100;

                .call {
                    font-weight: 600;
                    font-size:25px;
                    line-height: 1;
                    color:#999;
                    margin-top: 10px;
                }
                
            }
        }
    }
}



@media screen and (max-width:1179px) {


    /* 헤더 */
    #header2 {
        width:100%;
        padding-top: 50px;


        /* 배경 및 배너*/ 
        .bgGnb {
            .banner {
                display: none;
            }

        }

        .inner {
            width:100%;
            height:100px;

                h1 {
                    a {
                        img {
                            height:25px;
                        }
                    }
                }
        
                .gnb {
                        display: none;
                        
                        >li {
                            width:130px;
                            transition: 0.5s;
                            display: inline-block;
                            position: relative;
                            z-index: 2;

                            >a {
                                display: block;
                                color:#333;
                                font-size: 16px;
                                width: 100%;
                                height:100px;
                                text-align: center;
                                line-height: 100px;
                                font-weight: 600;
                                
                                &.on {
                                        color:rgb(64, 134, 255);
                                        transition: 0.5s;
        
                            }

                            }

                            >.subGnb {
                                position: absolute;
                                left: 0;
                                display: none;
                                font-weight: 300;
                                text-align: center;
                                width: 100%;
                                padding:30px 0;
                                box-sizing: border-box;
                                

                                >li {
                                    position: relative;
                                    width:100%;

                                    >a { 
                                        text-align: center;
                                        font-size: 15px;
                                        color: #555;
                                        position: relative;
                                        transition: 0.5s;
                                        font-weight: 400;
                                        padding:5px;
                                        box-sizing: border-box;
        
                                        &::before {
                                            content:'';
                                            display: block;
                                            width: 5px;
                                            height: 5px;
                                            border-radius: 5px;
                                            background: rgb(86, 141, 237);
                                            position: absolute;
                                            right:-10px;
                                            top:-3px;
                                            transition: 0.5s;
                                            opacity: 0;
                                            border:1px solid green;
                                        }
                                    }
                                }
        
                            }

                        }
                    }

                .icons {
                   display: none;
                }
        
                .btnCall {
                    display:block;
                
                }
        
                .snsMenu {
                }
        
                .login {
                       
                }
            
            

        }


    }

    /* 서브페이지 타이틀 */
    #sub_title {
        padding:70px 20px 110px 20px;

        .inner {
            width:100%;

            h1 {
                font-size: 24px;
                }

            .sub_menu {

                a {
                    img {
                        width: 15px;
                    }

                    &:nth-child(3) {
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 1;
                        img {
                            width: 8px;
                        }

                    }
                }
            }
        }
    }

    /* 풋터 */ 
    #footer2 {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;

        .upper {

            .inner {
                width: 100%;
                margin:0 auto;
                position: relative;
                text-align: center;
                padding:20px 0;

                h1{
                   display: inline-block;
                   margin-bottom: 20px;

                    a{
                        img {
                            width: 110px;
                        }
                }
                }

                select#family {
                    padding:10px 100px 10px 10px;
                    position: relative;
                    top: auto;
                    right: auto;
                    font-size: 14px;
                    width:300px;
                }
            }
        }

        .lower {
            margin-top: 0;
            padding:40px;
            
            .inner {
                width:100%;
                margin:0 auto;
                position: relative;

                address {
                    font-style: unset;
                    font-size: 14px;
                    margin-bottom: 10px;
                    line-height: 1.3;
                    font-weight: 100;


                }

                .callCenter {
                    position: relative;
                    text-align: center;


                }
            }
        }
    }




}



@media screen and (max-width:539px) {


    /* 헤더 */
    #header2 {
        padding-top:0;

        /* 배경 및 배너*/ 
        .bgGnb {
            .banner {
                display: none;
            }
        }

        .inner {
            height:80px;
                h1 {
                    a {
                        img {
                            height:18px;
                        }
                    }
                }
        
                .snsMenu {
                    display: none;
                }
        
                .login {
                    display: none;
                       
                }
        }
    }

    /* 서브페이지 타이틀 */
    #sub_title {
        padding:50px 20px 110px 20px;

        .inner {
         

            h1 {
                font-size: 20px;
                }

            .sub_menu {
                a {
                    img {
                        width: 14px;
                    }

                    &:nth-child(3) {
                        font-size: 12px;
                        img {
                            width: 6px;
                        }

                    }
                }
            }
        }
    }

    /* 풋터 */ 

    #footer2 {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;

        .upper {

            .inner {
                width: 100%;
                margin:0 auto;
                position: relative;
                text-align: center;
                padding:50px 0;

                h1{
                   display: inline-block;
                   margin-bottom: 20px;

                    a{
                        img {
                            width: 100px;
                        }
                }
                }

                select#family {
                    padding:10px 100px 10px 10px;
                    position: relative;
                    top: auto;
                    right: auto;
                    font-size: 14px;
                    width:100%;
                    display: block;
                    
                }
            }
        }

        .lower {
            margin-top: 0;
            padding:40px;
            
            .inner {
                width:100%;
                margin:0 auto;
                position: relative;

                address {
                    font-style: unset;
                    font-size: 14px;
                    margin-bottom: 10px;
                    line-height: 1.3;
                    font-weight: 100;


                }

                .callCenter {
                    position: relative;
                    text-align: center;


                }
            }
        }
    }



}

